[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
zappa = "*"
pygithub = "*"
requests = "*"
ipaddress = "*"
pyyaml = "*"
pytest = "*"
pylint = "*"
python-dotenv = "*"
envparse = "*"


[dev-packages]

