{
    "dev": {
        "s3_bucket": "chose your unique bucket name",
        "app_function": "app.app",
        "aws_region": "ap-southeast-2",
        "environment_variables": {
            "DEBUG": "True",
            "GITHUB_USER": "john-smith",
            "GITHUB_PSX": "some-personal-generated-token"
        }
    }
}
